<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Bilgileri</title>
    <link rel="stylesheet" href="/static/profile.css">
</head>
<body>
    <header>
        <h1>Profil Bilgileri</h1>
    </header>
    
    <div class="main-content">
        <div class="nav-menu">
            <p><strong>Mail:</strong> {{ users['username'] }}</p>
            <p><strong>Ad:</strong> {{ users['firstName'] }}</p>
            <p><strong>Soyad:</strong> {{ users['lastName'] }}</p>
            <p><strong>Doğum Tarihi:</strong> {{ users['birthDate'] }}</p>
            <button class="login-btn" onclick="window.location.href='{{ url_for('home') }}'">Ana Sayfaya Dön</button>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Gezi Planlayıcısı. Tüm hakları saklıdır.</p>
    </footer>
</body>
</html>
