<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil Bilgileri</title>
    <link rel="stylesheet" href="/static/profile.css">
</head>
<body>
    <header>
        <h1>Profil Bilgileri</h1>
        <button id="prof-geri" class="login-btn" onclick="window.location.href='/profile';">Geri</button>
    </header>
    
    <div class="main-content">
        <div class="nav-menu">
            <p name="mail"><strong>Mail:</strong> {{ users['username'] }}</p>
            <p name="name"> <strong>Ad:</strong> {{ users['firstName'] }}</p>
            <p name="lname"><strong>Soyad:</strong> {{ users['lastName'] }}</p>
            <p name="tarih"><strong>Doğum Tarihi:</strong> {{ users['birthDate'] }}</p>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Gezi Planlayıcısı. Tüm hakları saklıdır.</p>
    </footer>
</body>
</html>
