<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gezilecek Yerler</title>
    <link rel="stylesheet" href="static/gorev.css">
</head>
<body>
    <header>
        <div class="navbar">
            <button id="gezecek-geribtn" class="login-btn" onclick="window.location.href='/profile';">Geri</button>
        </div>
    </header>
    <div class="container">
        <div class="left-panel">
            <h2>Görev Ekle</h2>
            <form action="/add_task" method="POST">
                <label for="task">Görev Adı:</label>
                <input type="text" id="task" name="task" required>
                <button id="hedefekle-btn" type="submit">Görev Ekle</button>
            </form>
        </div>
        <div class="right-panel">
            <h2>Görevler</h2>
            <ul>
                {% for task in tasks %}
                <li>
                    <input name="chechbox" type="checkbox" id="task-{{ task['hedef_ID'] }}" onclick="saveCheckedTasks({{ task['hedef_ID'] }})">
                    <label name="hedef" for="task-{{ task['hedef_ID'] }}">{{ task['hedef'] }}</label>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Gezi Planlayıcısı. Tüm hakları saklıdır.</p>
    </footer>
    
    <script src="static/script.js"></script>
</body>
</html>
