<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ana Sayfa</title>
    <link rel="stylesheet" href="/static/mainpagec.css">
</head>
<body>
    <header>
        <div class="navbar">
            <button id="homeprof-btn" class="login-btn" onclick="window.location.href='/profile';">Profil</button>
        </div>
    </header>

    <div class="main-content">
        <h1>Gezmek İçin Öneriler</h1>
        <div class="suggestions">
            {% for place in places %}
            <div class="suggestion">
                <h2>{{ place['name'] }}</h2>
                <p>{{ place['description'] }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <iframe   name="iframe"  width="150" height="300" src="{{ url_for('geziplan') }}"></iframe>
    <footer>
        <p>&copy; 2024 Gezi Planlayıcısı. Tüm hakları saklıdır.</p>
    </footer>

    <script  src="static/script.js"></script>
</body>
</html>
